
.chat{
      /* border: 1px solid; */
      /* width: 100px; */
      /* height: 50px; */
      position:fixed ;
      z-index: 9;
      bottom: -10px;
      float: right;
      right: 0px;
      background-color: transparent;

    
}
.chatDiv{
      position:fixed ;
      z-index: 9000;
      bottom: 20px;
      float: right;
      right: 5px;
}
.btn-close{
      /* color: white; */
      background-color: red;
}